.material-symbols-outlined {
    font-size: 5rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    @include respond(tab_port) {
      margin-bottom: 0
    }

}